*{
  padding:0px;
  margin:0px;
  overflow-x:hidden;
  font-family: 'Raleway', sans-serif;
  scroll-behavior:smooth;
  }

.description h2{
  font-size: 24px;
  padding-top: 10%;
  font-weight: 600;
}

.description h1{
  color: #ee3f3c;
  font-weight: 600;
}

.description p{
  font-size: 20px;
  color: black;
}

#show-contact {
  display: none;
}


.nav{
  background-color:#1f1f1f;
  height:auto;
}

.nav ul > li{
  display: inline-block;
  padding: 50px;
  font-size: 20px;
  font-weight: 600;
}

.nav ul > li > a{
  color: white;
  border-bottom: none !important;
  padding:5px;
}


.nav ul > li > a:hover{
  border-bottom: solid 1px red;
}

.logo img{
  height: 120px;
}

#men{
  background-image: url("../img/pizza6.png");
  height: 400px;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  background-attachment: fixed;
}

.menuu p{
  text-align: center;
  font-size: 20px;
  color: black;
}
